*{
    margin: 0;
    padding: 0;
}

.data{
    align-content: center;
}


.main{
    width: 100%;
    /* background-image: url(pic_edited.jpg); */
    background-color: #f2f2f2;
    /* background-color: #f2f2f2; */
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    /* background-image: url(Picture1.png); */
    /* border-image: fill; */

}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    width: 75px;
    height: 75px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}
.header{
    background-image: url(Picture1.png);
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    /* background-color: #fff; */

}

.top{
    float: left;
    display:flex;
    justify-content: center;
    align-items: center;
}

.top li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 18px;
}

.top li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS';
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.top li a:hover{
    color: #ffffff;
}

/* .search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Trebuchet MS';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
} 
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    /* background-color: #fff; 


}
.srch{
    font-family: 'Trebuchet MS';
    width:150px;
    height: 36px;
    background: transparent;
    border: 3px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-radius: 18px;
}*/
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 36px;
    background: #000000;
    border: none;
    margin-top: 13px;
    color: #fff;
    font-size: 18px;
    font-family: arial;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;

}
.btn:hover{
    background-color: #fff;
    color: #000000;
    outline: none;
}

.srch:focus{
    outline: none;
}

.btn:focus{
    outline: none;
}
/*
.btn{
    width: 100px;
    height: 36px;
    background: #000;
    border: none;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 18px;
    transition: 0.3s ease-in-out;

}
.btn:hover{
    background-color: #fff;
    color: #ff7200;
    outline: none;
}

.srch:focus{
    outline: none;
}

.btn:focus{
    outline: none;
}

.content{
   
    margin: auto;
    color: #fff;
    position: left;
    align-items: left;
} */

.content p{
    width: 550px;
    height: 250px;
    color: #fff;
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Trebuchet MS';
    letter-spacing: 1px;
    line-height: 30px;
}

.content h1{
    font-family:system-ui;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: #000000;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #000000;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    color: #fff;
    font-family: 'Trebuchet MS';
    align-self: start;    
}

.content .cn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .3s ease;
}

.cn:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;
}




